IS_ON_PREMISE_CLUSTER=True
UFORA_CLUSTER_PORT=30001
UFORA_WEB_HTTP_PORT=30000
UFORA_WEB_HTTPS_PORT=30005

CUMULUS_DISK_STORAGE_MB=250000
CUMULUS_VECTOR_MAX_CHUNK_SIZE_BYES=50000000
FORA_COMPILER_THREADS=8
CUMULUS_DISK_STORAGE_FILE_COUNT=100000
CRASH_LOGS_BUCKET=ufora.error.logs

