---
---

@import 'colors';

$font-main: 'PFDinTextPro-Regular';
$font-header: 'Syncopate', sans-serif;
$font-code: 'Inconsolata', ;


body {
  padding-top: 50px;
  padding-bottom: 20px;

  font-family: $font-main;
  font-size: 14pt;
  color: $ufora-charcoal;


}

/*h1, h2, h3 {*/
h1, h2, h3 {
  text-transform: uppercase;
}
h1 {
  letter-spacing: 4px;
  font-weight: bold;
  margin-top: 30px;
}
h2 {
  font-family: $font-header;
  letter-spacing: 2px;
}

.navbar {
  .navbar-brand {
    padding-top: 12px;
    padding-bottom: 5px;
    }

  img {
    height: 30px;
    margin-top: -3px;
    margin-bottom: -10px;
  }
}

header {
  margin-bottom: 30px;
  background: url('{{ site.baseurl }}/images/ufora_bg.png');
  color: white;

  h1 {
    font-size: 40pt;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
  }

  h2 {
    font-size: 20pt;
    margin-bottom: 1.5em;
  }
}

.jumbotron {
  color: white;
  background: url("{{ site.baseurl }}/images/jumbotron_bg.png");

  h1 {
    font-family: $font-header;
  }
}

/*Give primary buttons the Ufora green color*/
.btn-primary {
  background: $ufora-caicos-blue;
  border-color: $ufora-caicos-darker;

  &:hover, &:focus, &:active, .active > .dropdown-toggle.btn-primary {
    background: $ufora-caicos-dark;
    }
}

/*Floating sidebar*/
.affix-top {
  position: static;
  margin-top: 30px;
}
.affix {
  position: fixed;
  top: 85px;
}

/*Used in TOC pages*/
dd {
  margin-bottom: 1em;
}

/*Account for fixed navbar in link targets*/
.content > :target:before {
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
}

.highlight {
  padding-top: 10px;
  padding-bottom: 10px;
}
.highlighttable .highlight {
  padding-top: 0;
  padding-bottom: 0;
}

code, pre {
  font-family: $font-code;
  font-size: 14pt;
  color: inherit;
}

pre code {
  white-space: pre;
  word-wrap: normal;
  overflow: scroll;
}
