doctype html
html
    head
        title= 'UFORA'

        link(rel='stylesheet', href='/stylesheets/interfaces/dashboard/nv.d3.css')
        link(rel='stylesheet', href='/stylesheets/interfaces/dashboard/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/interfaces/dashboard/main.css')

        //-Some HTML5 optimization stuff.
        script(src='/sunrise/js/html5-trunk.js')

        link(rel='stylesheet', href='http://assets.ufora.com/sunrise/css/main.css')
        link(rel='stylesheet', href='http://assets.ufora.com/sunrise/icomoon/style.css')
        link(rel='stylesheet', href='http://assets.ufora.com/sunrise/css/bootstrap-editable.css')
        link(rel='stylesheet', href='http://assets.ufora.com/sunrise/css/select2.css')

        script(data-main='/interfaces/dashboard/app.js', src='/interfaces/dashboard/require.js')

    body
        div#container.relative_pos
            div.main
                div#app

            footer
                include ../../_footer.jade

        script(src="http://assets.ufora.com/js/jquery.js")
        script(src="http://assets.ufora.com/js/jquery-ui.js")

        script(src="http://assets.ufora.com/sunrise/js/bootstrap.js")
        script(src="http://assets.ufora.com/sunrise/js/bootstrap-editable.min.js")
        script(src="http://assets.ufora.com/sunrise/js/select2.js")

        script.
            //Popover
            $('.popover-pop').popover('hide');

