# Original excludes
.lock-waf*
*.pyc
log*.txt
out*.txt
nose*.xml
nose*.log
config.cfg
*/.build*
.build*
*/build/*
*/*/build/*
*.bak
*.so
*.dylib
*.o
*.a
a.out
*.cmi
*.cmo
*.cmx
*.mli
*/log.txt
*.mo
*.dat
*/data/*
*.tdp
*.data
*~
*.cfg
*.komodoproject
.waf-1.6.11-*

nosetests.xml
nosetests.*.xml


*.orig

# Mac OS C crap
.DS_Store
*/.DS_Store

# VIM-specific ignores
.swp
*.swp*
*.swo
*.swn

simulation_err.txt
simulation_log.txt

# test output
*.out

# Ignore node modules
ufora/web/relay/node_modules/**/*

# Ignore 'stack' files
*/*/stack?
*/stack?
stack?

packages/python/pyfora/SubscribableWebObjects.py
ufora/web/relay/SubscribableWebObjects.coffee


#the FORA axiom search functions, which are generated
#by ufora/scripts/re[build|set]AxiomSearchFunction.py
ufora/FORA/Axioms/AxiomSearch.cpp
ufora/FORA/Axioms/AxiomSearch2.cpp

#jekyll
_site
.jekyll-metadata
