<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    {{ include.label }}<span class="caret"/>
  </a>
  <ul class="dropdown-menu">
    {% assign sorted = site.pages | where:'category', include.category | sort: 'sort_index', 'last' %}
    {% for p in sorted %}
      {% if p.external_link == null %}
        {% capture link_url %}{{ site.baseurl }}{{ p.url }}{% endcapture %}
      {% else %}
        {% capture link_url %}{{ p.external_link }}{% endcapture %}

      {% endif %}
      <li><a href="{{ link_url }}">{{ p.title }}</a></li>
    {% endfor %}
  </ul>
</li>
