<hr/>
<footer>
    <p>&copy; Ufora, Inc. 2015</p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/anchor.min.js"></script>

<script>
  $(function() {
    // fix the width of the sidebar when resizing
    var affix = $('.affixed');
    if (affix.length > 0) {
      // set fixed width
      $(window).resize(function() {
          affix.width(affix.parent().width());
          });
      $(window).resize();
    }

    anchors.options.placement = 'left';
    anchors.add('h1, h2');
    anchors.remove('.no-anchor');

    // populate side-bar
    function makeItemLink(item) {
      return '<a class="link-' + item.localName + '" href="#' + item.id + '">' +
        $(item).text() + '</a>';
    }

    if ($(".sidebar").length) {
      var lastH1= null;
      $(".content").children("h1, h2").each(function(i, item) {
        var currentHeader = item.localName;
        if (currentHeader == "h1") {
          var newLink = '<li>' + makeItemLink(item) + '<ul class="nav"></ul></li>';
          $(".sidebar").append(newLink);
          lastH1 = item;
        }
        else if (lastH1 != null) {
          var newLink = '<li>' + makeItemLink(item) + '</li>';
          $(".sidebar > li > ul.nav").last().append(newLink);
        }
      });
    }

    // smooth scrolling
    $('.affixed a').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') &&
          location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top - 60
          }, 1000);
          return false;
        }
      }
    });
  });
</script>

