<hr/>
<footer>
    <p>&copy; Ufora, Inc. 2015</p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

<script>
  $(function() {
    var affix = $('.affixed');
    if (affix.length > 0) {
      // set fixed width
      $(window).resize(function() {
          affix.width(affix.parent().width());
          });
      $(window).resize();
    }

    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') &&
          location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top - 60
          }, 1000);
          return false;
        }
      }
    });
  });
</script>

