<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{site.baseurl}}/images/logo_horizontal_dark.png" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ site.baseurl }}/content/tutorials/toc.html">Tutorials</a></li>
        <li><a href="{{ site.baseurl }}/content/documentation/toc.html">Documentation</a></li>
        <li><a href="{{ site.baseurl }}/content/develop/toc.html">Develop</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/ufora/ufora" target="_blank">
          <img src="{{ site.baseurl }}/images/github-logo-white.png">
        </a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
