/* Brand colors */
$ufora-bright-red: #EF4136;
$ufora-deep-red: #C52026;
$ufora-charcoal: #434750;
$ufora-aviator-green: #A5D9C9;
$ufora-light-grey: #BBBDBF;
$ufora-dark-grey: #9B9D9F;
$ufora-caicos-blue: #00A2A6;
$ufora-caicos-dark: #008286;
$ufora-caicos-darker: #006266;
$ufora-mustard: #FBAF2B;
$ufora-midnight: #262E46;
$ufora-ui-blue: #8AAED7;
$ufora-ui-blue-dark: #6A8EB7;
