doctype html
html(ng-app="pyfora")
    head
        title= 'PYFORA'

        script(src='/js/angular.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/socket.js')
        script(src="https://www.promisejs.org/polyfills/promise-6.1.0.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
        script(src='/js/all.min.js')

        script.
            var pyfora_version = "#{version}";

    body(ng-controller="DashboardController")
        p {{message}}
        p(ng-if="cluster_status").
            Workers: {{cluster_status.workerCount}}

