doctype html
html
  body
    p
      | The Ufora team has released a new version. 
      br
      | Among the many improvements in this fresh new release are:
      ul
        li Faster and more responsive user interface
        li
          | Searchable online documentation at 
          a(href="http://kb.ufora.com") http://kb.ufora.com
        li
         | A new and more powerful model for defining and manipulating 
         a(href="http://kb.ufora.com/index/libraries/builtin/grid.html") grids
         |  on the canvas
        li Faster load time on repeat visits
        li And many more

    p
      b Note:
      | From this version on you will use your email address (#{email}) to login to the service instead of your previous user name (#{id}).
      br
      | Your password remains unchanged.

    p
      | Please take a moment to explore this exciting new version at 
      a(href="http://#{host}") http://#{host}.
      br
      | We are looking forward to hearing your feedback and greatly appreciate all the feedback provided so far, which helps us make Ufora better.

    p Happy Holidays from the Ufora team!
