body
  font-family 'Helvetica Neue', helvetica, arial, sans-serif
  font-size 16px

.caption
  font-size 20px
  line-height 1.3

.larger
  font-size 17px

.footer
  font-size 12px
  margin 5px

hr
  color #ddd
  background-color #ddd
  min-height 1px
  border 0
  width 665px

li
  font-size 15px
  margin-top 5px
  margin-bottom 10px

ul
  margin-top 10px
  margin-left 0px
  padding-left 18px

.page-wrapper
  margin 0
  padding 0
  width 100%

.page-margin
  border 3px solid white

.page-border
  border 5px solid black


.join-button
  margin 0px
  padding 0px
  background-color #a5d9c9

.join-button-anchor
  color #262e46
  display block
  line-height 40px
  text-align center
  text-decoration none
  font-size 22px

