doctype html
html
  head
    title Thank you for requesting an invitation to Ufora
  body
    p
      | Dear #{first_name} #{last_name},
      br
      br
      | Thanks for requesting an invitation. We are sending out invitations in
      br
      | the order we receive requests and you will get yours soon.
      br
      br
      | If you have any questions, please reply to this email or contact
      a(href='mailto:support@ufora.com')  support@ufora.com.
      br
      br
      | -- The Ufora Team

