<!doctype html>
<html>
<head>
  <title>Test'em Runner</title>
  <link rel="stylesheet" href="/testem/mocha.css">
  <script src="/testem/mocha.js"></script>
  <script src="/testem/chai.js"></script>
  <script src="/testem.js"></script>
  <script>mocha.setup('bdd')</script>
  <script src="public/interfaces/tsunami/require.js"></script>
  <script src="/test-components/sinon.js"></script>
</head>

<body>
  <div id="mocha"></div>

  <script>
    ufora_user_id = "test";

    require.config({
        //Remember: only use shim config for non-AMD scripts,
        //scripts that do not already call define(). The shim
        //config will not work correctly if used on AMD scripts,
        //in particular, the exports and init config will not
        //be triggered, and the deps config will be confusing
        //for those cases.
        shim: {
            'backbone': {
                deps: ['underscore', 'jquery'],
                exports: 'Backbone'
            },
            'underscore': {
                exports: '_'
            },
            'jquery-ui' : ['jquery'],
            'backbone.marionette' : ['backbone']
        },

        //By default load any module IDs from js/lib
        baseUrl: 'interfaces/tsunami/components',

        //except, if the module ID starts with "app",
        //load it from the js/app directory. paths
        //config is relative to the baseUrl, and
        //never includes a ".js" extension since
        //the paths config could be for a directory.
        paths: {
            app: '../app',
            root: '../../..',
            content: '/content',
            tests: '/tests'
        }
    });

    mocha.setup({globals: ['$', 'jQuery*', '_', 'Backbone', 'Marionette']});

    var files = [];
      {{#serve_files}}files.push("../{{src}}");{{/serve_files}}
      require(files, function() {
        mocha.run();
      });
  </script>
</body>
</html>
