doctype html
html
    head
        title= 'UFORA'

        //-Library stylesheets
        link(rel='stylesheet', href='/stylesheets/interfaces/tsunami/jquery-ui.css')
        link(rel='stylesheet', href='/icomoon/style.css')
        link(rel='stylesheet', href='/stylesheets/interfaces/tsunami/bootstrap.min.css')

        //-Main stylesheet and fonts.
        link(rel="stylesheet", href="/MyFontsWebfontsOrderM4331404.css")
        link(rel='stylesheet', href='/stylesheets/interfaces/tsunami/tsunami.css')
        link(rel='stylesheet', href='/stylesheets/interfaces/tsunami/kb-search-box.css')

        //-Modernizr needs to be loaded in the HEAD section to prevent flash of unstyled content
        // in certain browsers
        script(src='/interfaces/tsunami/components/modernizr.js')
        //-Modernizr only does a "soft" webGL test by default, which leads to false positives
        // when webGL is disabled in a browser that does have support for it.
        // The following script enhances Modernizr webGL test with a full context creation attempt
        script(src='/interfaces/tsunami/lib/webgl-extensions.js')

        //-The relay *should* serve up the proper version of socket.io.
        script(src='/socket.io/socket.io.js')

        // AngularJS for gradual switch over to that framework
        script(src='/interfaces/tsunami/components/angular.js')
        script(src='/interfaces/tsunami/components/angular-sanitize.js')

        //-Some HTML5 optimization stuff.
        script(src='/interfaces/tsunami/components/html5shiv.js')

        //-Visualization libraries. Load these up front.
        script(src="/interfaces/tsunami/components/d3.min.js")
        script(src="/interfaces/tsunami/components/topojson.js")
        script(src="/interfaces/tsunami/components/marked.js")

        // Mathjax
        //-script(src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
        script(src="/interfaces/tsunami/lib/MathJax.js")

        script.
            #{embedded_script}

        //-This starts the loading of the app itself.
        script(data-main='/interfaces/tsunami/app.js', src='/interfaces/tsunami/require.js')

    body
        div#app
            div.loading-big
                img(src="/images/loading-big.gif")

        div#modal

        pre#editor(style="display:none")

        script(id="template-desktop", type="text/html")
            header
                div#header-accent
                div.navbar
                    span.navbar-brand.logo
                        img(src="/images/tsunami/img/logo.png")

                    div#mainmenu

                    div#session-menu
                        ul.nav.navbar-nav
                            li
                                a#menu-feedback-link(href="mailto:feedback@ufora.com")
                                    button.btn.btn-compute Send Feedback
                            li#persistent-cache.dropdown
                                div.dropdown
                                    a.dropdown-toggle(data-toggle="dropdown", id="dropdown-menu") Persistent Cache
                                    ul#persistent-cache-dropdown-menu.dropdown-menu(aria-labeledby="dropdown-menu" style="width:280px")
                                        li
                                            div(style="padding-left:8px")
                                                span#bytes-in-cache 0
                                                span#bytes-in-cache-units(style="padding-left:5px") bytes
                                                span(style="padding-left:5px") in cache
                                            div(style="padding-left:8px")
                                                span#objects-in-cache 0
                                                span(style="padding-left:5px") objects in cache
                                            div(style="padding-left:8px")
                                                span#computations-in-cache 0
                                                span(style="padding-left:5px") computations in cache
                                            div(style="padding-left:8px")
                                                span#reachable-computations-in-cache 0
                                                span(style="padding-left:5px") reachable computations in cache
                                            div(style="padding-left:8px")
                                                span#bytes-in-cache Max cache-size (GB)
                                                input#max-bytes-in-cache.editable-input
                                                button#max-bytes-in-cache-commit.btn.btn-primary.editable-submit Set
                                            div(style="padding-left:8px")
                                                button#persistent-cache-gc-button.btn.btn-compute(style="margin-right:8px") Trigger Garbage Collection
                                            div(style="padding-left:8px")
                                                button#persistent-cache-clear-cache-button.btn.btn-compute(style="margin-right:8px") Clear Cache
                            li
                                div#cluster-memory-usage

                            li
                                div#alert-notifications.dropdown
                                    div#alert-menu.dropdown-toggle(data-toggle="dropdown", style="cursor:pointer")
                                        img#alert-menu-icon(src="/images/arrow62.png")
                                            
                                    ul#alert-menu.dropdown-menu(aria-labeledby="alert-menu")
                                        li
                                            span(style="padding-left:20px") 
                                                b Alert Console
                                        li
                                            textarea#alert-menu-console(readonly)

                            li#coremanager.dropdown

                            li#cluster-status

                            li#cpuupdates

                            li#session.dropdown
                                div
                                    a(data-toggle="dropdown", href="#").dropdown-toggle
                                        i.icon-user
                                        span#user-display-name
                                        b.caret.icon-white
                                    ul.dropdown-menu.pull-right(role="menu")
                                        li(id="dev-mode", style="display:none;")
                                            a Developer Mode
                                        li
                                            a(href="/logout") Logout

            div#desktop-container
                div#desktop.desktop-wrapper

        script(id="template-mainmenu", type="text/html")
            ul.nav.navbar-nav
                li.mainmenu-button
                    a#projects.projects Projects
                li.mainmenu-button#drive-button(style="display:none")
                    a#drive.drive Drive
                li.mainmenu-button
                    a#datasets.datasets Datasets
                li.mainmenu-search.last
                    form(method="get", target="_blank", action="/kb/search.html", class="mainmenu-search-form")
                        div.typeahead-container
                            div.typeahead-field
                                span.typeahead-query
                                    input(type="search", name="q", id="kb-search-input", class='kb-search-input', placeholder="Search Ufora Help", autocomplete="off")
            div#explorer
        script(id="template-project", type="text/html")
            div.project-sidebar
                div.project-name
                    div.popover-link#project-name-editable(data-popover-id="project-name-editable-popover")
                    //-Broken. Remove until further notice. ~william 2014-01-10
                    //-a.collapse-button
                    //-    i.icon.icon-arrow-left-2

                div.sidebar-mask(style="display:none")

                div.target-toolbar

                div.project-content
                    hr
                    div#project-status

                    hr

                    div#pick-builtins-feature(style="display:none")
                        a.new-content-link.popover-link#pick-builtins(data-popover-id="pick-builtins-popover") Builtins
                        span.sidebar-label#current-builtins &lt;default&gt;
                        hr

                    a.new-content-link#duplicate Duplicate

                    a.new-content-link#download Download
                    h5 &nbsp;
                    hr

                    div#working-copies-feature(style="display:none")
                        a.new-content-link.popover-link#new-working-copy(data-popover-id="new-working-copy-popover") Fork
                        h5
                            a#working-copies-toggle Working&nbsp;Copies
                        div.working-copies-pane.pane(style="display:none")

                    hr

                    a.new-content-link.popover-link#new-share(data-popover-id="pick-share-popover") Share
                    h5
                        a#shares-toggle Shared&nbsp;With
                    div.shares-pane.pane

                    hr

                    a.new-content-link.popover-link#new-script(data-popover-id="new-script-popover") New Script
                    h5
                        a#scripts-toggle Scripts
                    div.scripts-pane.pane

                    hr

                    a.new-content-link.popover-link#new-module(data-popover-id="new-module-popover") New Module
                    h5
                        a#modules-toggle Modules
                    div.modules-pane.pane

                    hr

                    a.new-content-link.popover-link#new-javascript(data-popover-id="new-javascript-popover") New Javascript
                    h5
                        a#javascripts-toggle Javascripts
                    div.javascripts-pane.pane

                    hr

                    a.new-content-link.popover-link#reference-dataset(data-popover-id="reference-dataset-popover") Add Dataset
                    h5
                        a#datasets-toggle Datasets
                    div.datasets-pane.pane

            div.project-sidebar-resizer
            div.project-body

        script(id="script-results", type="text/html")
            div.results(ng-controller="ResultsCtrl", on-children-positions-changed='positionsChanged', scroll-container-selector='#module-results, #editor, .ace_scrollbar')
              computed-value(simple-repeat="item in computedValues track by item.id", value="item", 'show-controls'='true', observed-position-item="item")

        include _angular_templates

        script(id="template-script", type="text/html")
            div.module-left-pane
                div#module-codeeditor

                module-canvas(width='100', thickness='20')

            div.module-right-pane
                div#module-errors
                div#module-results

            a.module-view-resizer(title="Double-click to toggle")

        script(id="template-module", type="text/html")
            div.module-left-pane
                div#module-codeeditor

            div.module-right-pane
                div#module-errors
                div#module-results

            a.module-view-resizer(title="Double-click to toggle")


        script(id="template-dataset", type="text/html")
            div.module-title
            div.dataset-metadata
            div.dataset-preview

        script(src="/interfaces/tsunami/components/jquery.min.js")
        script(src="/interfaces/tsunami/components/jquery-ui.min.js")
        script(src="/interfaces/tsunami/components/bootstrap.min.js")

        script(src='/interfaces/tsunami/components/iframeResizer.js')
        script(src='/interfaces/tsunami/components/mutationobserver.min.js')

        //- Flot charts
        script(src="/interfaces/tsunami/components/jquery.flot.js")
        script(src="/interfaces/tsunami/components/jquery.flot.time.js")
        script(src="/interfaces/tsunami/components/jquery.flot.categories.js")

        //- The code editor
        script(src="/interfaces/tsunami/components/ace.js")

        //-Arbor is a particle-spring library for the live cluster visualization.
        //-script(src="/interfaces/tsunami/components/arbor.js")
        //-script(src="/interfaces/tsunami/components/arbor-tween.js")
        //-script(src="/interfaces/tsunami/components/graphics.js")

        // load 'typeahead'
        script(src='/interfaces/tsunami/components/typeahead.jquery.js')


