doctype html
html
    head
        title= 'UFORA - Rendering Testing'

        //-Library stylesheets
        link(rel='stylesheet', href='/stylesheets/interfaces/tsunami/jquery-ui.css')
        link(rel='stylesheet', href='/icomoon/style.css')
        link(rel='stylesheet', href='/stylesheets/interfaces/tsunami/bootstrap.min.css')

        //-Main stylesheet and fonts.
        link(rel="stylesheet", href="/MyFontsWebfontsOrderM4331404.css")
        link(rel='stylesheet', href='/stylesheets/interfaces/tsunami/tsunami.css')
        link(rel='stylesheet', href='/stylesheets/interfaces/tsunami/kb-search-box.css')

        link(rel='stylesheet', href='/stylesheets/interfaces/tsunami/angular-previews.css')

        //-Modernizr needs to be loaded in the HEAD section to prevent flash of unstyled content
        // in certain browsers
        script(src='/interfaces/tsunami/components/modernizr.js')
        //-Modernizr only does a "soft" webGL test by default, which leads to false positives
        // when webGL is disabled in a browser that does have support for it.
        // The following script enhances Modernizr webGL test with a full context creation attempt
        script(src='/interfaces/tsunami/lib/webgl-extensions.js')

        script(src='/interfaces/tsunami/components/underscore.js')
        script(src='/interfaces/tsunami/components/jquery.js')
        script(src='/interfaces/tsunami/components/jquery-ui.js')
        script(src='/interfaces/tsunami/components/bootstrap.js')
        script(src='/interfaces/tsunami/components/simpleParsing.js')

        // AngularJS for gradual switch over to that framework
        script(src='/interfaces/tsunami/components/angular.js')
        script(src='/interfaces/tsunami/components/angular-sanitize.js')

        //-Some HTML5 optimization stuff.
        script(src='/interfaces/tsunami/components/html5shiv.js')

        //-Visualization libraries. Load these up front.
        script(src="/interfaces/tsunami/components/d3.min.js")
        script(src="/interfaces/tsunami/components/topojson.js")
        script(src="/interfaces/tsunami/components/marked.js")

        // Mathjax
        //-script(src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
        script(src="/interfaces/tsunami/lib/MathJax.js")

        script.
            #{embedded_script}

        //-This starts the loading of the app itself.
        script(src='/interfaces/tsunami/angular-tsunami-part.js')
        script(src='/interfaces/tsunami/angular-previews.js')

    body(ng-app="ufora.angular.app")
        div#app
          #module-results
            #previews.container(ng-controller="PreviewsCtrl")
              #preview-type.row(ng-repeat="type in types")
                .col-12
                  h4 {{ type.name }}
                .col-12.preview-item(ng-repeat="value in type.values")
                  .col-6
                    .type-spec
                      {{ value.text }}
                  .col-6
                    .computed-value-view
                      .result
                        renderer(value="value.value")

        div#modal

        include _angular_templates

