<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navbar.html %}

    <div class="jumbotron">
      <div class="container">
        <h1>{{page.title}}</h1>
        <p>{{page.tagline}}</p>
        <p><a class="btn btn-primary btn-lg" href="#content" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Tutorials</h2>
          <p>Get started with UFORA on your local machine, in the cloud, or your local network with 
          these step-by-step tutorials.</p>
          <p><a class="btn btn-default" href="/content/tutorials/toc.html" role="button">More »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Documentation</h2>
          <p>Learn more about using Ufora to speed up and parallelize your Python code.</p>
          <p><a class="btn btn-default" href="/content/documentation/toc.html" role="button">More »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Develop</h2>
          <p>Interested in contributing to the Ufora project? Start here.  </p>
          <p><a class="btn btn-default" href="/content/develop/toc.html" role="button">More »</a></p>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-md-3">
          <div class="affixed visible-md-block visible-lg-block" data-spy="affix" data-offset-top="580">
            <ul class="sidebar">
            </ul>
          </div>
            <script type="text/javascript">
              $(document).ready(function() {
                $(".content").children("h1").each(function(i, item) {
                  var newLink = '<li><a class="link-h1" href="#' + item.id + '">' + $(item).text() + '</a></li>'
                  $(".sidebar").append(newLink);
                });
              });
            </script>
        </div>
        <div class="col-md-9">
          <section class="content" id="content">
            {{ content }}
          </section>
        </div>
      </div>

    {% include footer.html %}
    </div>

  </body>
</html>
