<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body data-spy="scroll" data-target=".scrollspy" data-offset="70">
    {% include navbar.html %}

      <header>
        <div class="container">
          <h1 class="title">{{page.title}}</h1>
          <h2 class="tagline">{{page.tagline}}</h2>
        </div>
      </header>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <section class="content">
            {{ content }}
          </section>
        </div>
        <div class="col-md-3 scrollspy">
          <div class="affixed visible-md-block visible-lg-block" data-spy="affix" data-offset-top="200">
            <ul class="sidebar nav nav-pills nav-stacked">
            </ul>
          </div>
            <script type="text/javascript">
              function makeItemLink(item) {
                return '<a class="link-' + item.localName + '" href="#' + item.id + '">' +
                  $(item).text() + '</a>';
              }

              $(document).ready(function() {
                var lastH1= null;
                $(".content").children("h1, h2").each(function(i, item) {
                  var currentHeader = item.localName;
                  if (currentHeader == "h1") {
                    var newLink = '<li>' + makeItemLink(item) + '<ul class="nav"></ul></li>';
                    $(".sidebar").append(newLink);
                    lastH1 = item;
                  }
                  else if (lastH1 != null) {
                    var newLink = '<li>' + makeItemLink(item) + '</li>';
                    $(".sidebar > li > ul.nav").last().append(newLink);
                  }
                });
              });
            </script>
        </div>
      </div>

      {% include footer.html %}
    </div>

  </body>
</html>
