<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navbar.html %}

      <header>
        <div class="container">
          <h1 class="title">{{page.title}}</h1>
          <h2 class="tagline">{{page.tagline}}</h2>
        </div>
      </header>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <section class="content">
            {{ content }}
          </section>
        </div>
        <div class="col-md-3">
          <div class="affixed visible-md-block visible-lg-block" data-spy="affix" data-offset-top="200">
            <ul class="sidebar">
            </ul>
          </div>
            <script type="text/javascript">
              $(document).ready(function() {
                $(".content").children("h1").each(function(i, item) {
                  var newLink = '<li><a class="link-h1" href="#' + item.id + '">' + $(item).text() + '</a></li>'
                  $(".sidebar").append(newLink);
                });
              });
            </script>
        </div>
      </div>

      {% include footer.html %}
    </div>

  </body>
</html>
