<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navbar.html %}

      <header>
        <div class="container">
          <h1 class="title">{{page.title}}</h1>
          <h2 class="tagline">{{page.tagline}}</h2>
        </div>
      </header>

    <div class="container">
      <section class="content">
        <dl>
          {% assign sorted = site.pages | where:'category',page.match-category | sort: 'sort_index', 'last' %}
          {% for p in sorted %}
            {% if p.external_link == null %}
              {% capture link_url %}{{ site.baseurl }}{{ p.url }}{% endcapture %}
            {% else %}
              {% capture link_url %}{{ p.external_link }}{% endcapture %}
            {% endif %}
            <dt><a href="{{ link_url }}">{{ p.title }}</a></dt>
            <dd>{{ p.tagline }}</dd>
          {% endfor %}
        </dl>
      </section>
    </div>
  </body>
</html>
