<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include navbar.html %}

      <header>
        <div class="container">
          <h1 class="title">{{page.title}}</h1>
          <h2 class="tagline">{{page.tagline}}</h2>
        </div>
      </header>

    <div class="container">
      <section class="content">
        <dl>
          {% for p in site.pages %}
            {% if p.category == page.match-category %}
            <dt><a href="{{ p.url }}">{{ p.title }}</a></dt>
            <dd>{{ p.tagline }}</dd>
            {% endif %}
          {% endfor %}
        </dl>
      </section>
    </div>
  </body>
</html>
