
div.footer
  ul
    li
      | &copy; 2012-2015 Ufora, Inc.
  - if (typeof clusterType === "undefined" || clusterType == "public")
    ul
        li
            a(href="/legal/tos", target="new") Terms of Service
        li
            a(href="/legal/privacy", target="new") Privacy Policy

