extends layout

block content
  div
    if user.eula == "0"
      p You must accept the Ufora Terms of Service in order access the sofware.
    else
      p
        | The Ufora Terms of Service have changed since you last logged in.
        | You must accept the current version in order to access the software.
  div#tos
    include tosBody.jade
  div
    form(action="#{url}", method="post")
      input.button(type="button", value="Cancel", id="cancel", name="cancel", onclick="window.location.href = 'http://www.ufora.com';")
      input.button.button-submit(type="submit", value="Accept", id="acccept", name="accept")


