extends layout

block head
    script(src='/javascripts/jquery-ui-1.9.2.custom.min.js')
    script(src='/javascripts/jquery.dataTables.js')
    script(src='/javascripts/jquery.form.js')
    script(src='/javascripts/spin.min.js')
    script(src='/javascripts/jquery.spin.js')
    link(rel='stylesheet', href='/themes/ui-darkness/jquery-ui-1.9.2.custom.css')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    script.
        var tabIndices = {
            "accounts": 0,
            "pending_invitations": 1,
            "invitation_requests": 2,
            "candidates": 3
        };

        function reloadTab(tab) {
            $("#tabs").tabs("load", tabIndices[tab]);
        }

        var currentSpinTarget = null;
        var currentFadeTarget = null;

        function startSpin(spinTarget, fadeTarget, color) {
            if (currentSpinTarget || currentFadeTarget)
                return;
            currentSpinTarget = spinTarget || ".main";
            currentFadeTarget = fadeTarget || "#tabs";
            $(currentSpinTarget).spin("large", color || "black");
            $(currentFadeTarget).fadeTo(200, 0.3);
        }

        function stopSpin() {
            if (currentFadeTarget) {
                $(currentFadeTarget).fadeTo(200, 1);
                currentFadeTarget = null;
            }

            if (currentSpinTarget) {
                $(currentSpinTarget).spin(false);
                currentSpinTarget = null;
            }
        }

        function handle_select_all_checkbox(suffix, element_name) {
            var select_all = $("#select_all_" + suffix);
            select_all.on('change', function() {
                $('input[name="' + element_name + '"]').prop('checked', select_all.get(0).checked);
            });
        }

        function get_checked(name) {
            return $('input:checked[name="' + name + '"]');
        }

        function send_selection(tab, name, url, verb) {
            verb = verb || 'POST';
            var selected = [];
            get_checked(name).each(function(i, element) {
                selected.push(element.id);
            });
            if (selected.length == 0)
                return;

            startSpin();
            $.ajax({
                type: verb,
                url: url,
                data: { selection: selected },
                success: function(data, textStatus, jqXhr) {
                    stopSpin();
                    reloadTab(tab);
                }
            });
        }

        function create_dialog(selector, buttons, options) {
            $(selector).dialog({
                autoOpen: false,
                height: options.height || 300,
                width: options.width || 450,
                modal: true,
                buttons: buttons
            });
        }

        function alert_ajax_response(response) {
            stopSpin();
            alert("ERROR: " + response.status + " " + response.statusText + "\n" +
                response.responseText);
        }

        $(function() {
            $("#tabs").tabs({
                beforeLoad: function(event, ui) {
                    ui.jqXHR.error(function() {
                        ui.panel.html(
                            "Couldn't load this tab. We'll try to fix this as soon as possible.");
                    });
                },

                load: function(event, ui) {
                    var loadedTabName = ui.tab.innerText.toLowerCase().replace(' ', '_');
                    $("#" + loadedTabName + "_data_table").dataTable({
                        "bJQueryUI": true,
                        "aoColumnDefs": [
                            { "bSortable": false, "aTargets": [ 0 ] }
                        ]
                    });
                    init[loadedTabName]();
                }
            });
        });

        var init = {
            candidates: function() {
                create_dialog("#upload_popup", {
                    Cancel: function() { $(this).dialog("close"); },
                    Submit: function() {
                        var options = {
                            success: function(responseText, statusText, xhr, form) {
                                $("#upload_popup").dialog("close");
                                reloadTab("candidates");
                            },
                            error: alert_ajax_response
                        };
                        $("#upload_form").ajaxSubmit(options);
                    }
                },
                {});
                $("#upload_form").ajaxForm();
                $("#upload_candidates").on("click", function() {
                    $("#upload_popup").dialog("open");
                });

                create_dialog("#new_candidate_popup", {
                    Cancel: function() { $(this).dialog("close"); },
                    Create: function() {
                        startSpin("#new_candidate_form", "#new_candidate_popup", "white");
                        $("#new_candidate_form").ajaxSubmit({
                            success: function() {
                                stopSpin();
                                $("#new_candidate_popup").dialog("close");
                                reloadTab("candidates");
                            },
                            error: alert_ajax_response
                        });
                    }
                },
                {
                    height: 400,
                    width: 500
                });
                $("#new_candidate_form").ajaxForm();
                $("#new_candidate").on("click", function() {
                    $("#new_candidate_form").get(0).reset();
                    $("#new_candidate_popup").dialog("open");
                });


                $("#email_candidates").on("click", function() {
                    send_selection("candidates", 'candidate', '/admin/candidates/email');
                });
                $("#delete_candidates").on("click", function() {
                    send_selection("candidates", 'candidate', '/admin/candidates', 'DELETE');
                });

                handle_select_all_checkbox('candidates', 'candidate');
            },
            accounts: function() {
                handle_select_all_checkbox('accounts', 'account');
                $("#send_announcement").on("click", function() {
                    send_selection('accounts', 'account', 'admin/accounts/announcement');
                });
            },
            invitation_requests: function() {
                handle_select_all_checkbox('invitation_requests', 'invitation_request');

                $("#approve_requests").on("click", function() {
                    send_selection("invitation_requests", 'invitation_request',
                        '/admin/invitation_requests/approve');
                });
            },
            pending_invitations: function() {
                create_dialog("#new_invitation_popup", {
                    Cancel: function() { $(this).dialog("close"); },
                    Create: function() {
                        startSpin("#new_invitation_form", "#new_invitation_popup", "white");
                        $("#new_invitation_form").ajaxSubmit({
                            success: function(responseText, statusText, xhr, form) {
                                stopSpin();
                                $("#new_invitation_popup").dialog("close");
                                reloadTab("pending_invitations");
                            },
                            error: alert_ajax_response
                        });
                        }
                    },
                    {
                        height: 400,
                        width: 500
                    });
                handle_select_all_checkbox('pending_invitations', 'invitation');

                $("#new_invitation_form").ajaxForm();

                $("#new_invitation").on("click", function() {
                    $("#new_invitation_form").get(0).reset();
                    $("#new_invitation_popup").dialog("open");
                });
            }
        };

block content
    div#tabs
        div#tab_nav
            ul
                li
                    a(href="/admin/accounts") Accounts
                li
                    a(href="/admin/pending_invitations") Pending Invitations
                li
                    a(href="/admin/invitation_requests") Invitation Requests
                li
                    a(href="/admin/candidates") Candidates

