extends layout-dark

block content
  div.popup
    h2 Help
    
    p
      | If you have problems logging in or starting Ufora,
      | please email us at 
      a(href="mailto:support@ufora.com") support@ufora.com
      | .



