doctype html
html
  head
    title= 'UFORA - ' + title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.8.3.js')
    block head

  body
    div.wrapper
      header
        include _header.jade

      div.main
        block content

      footer
        include _footer.jade

    div.layer
      block layer

