doctype html
html
  head
    title= 'UFORA - ' + title
    // TODO Add this back in later to have custom CSS for entering into custom interfaces.
    //-- if (interfaceKey != undefined && interfaceKey != null)
    //-    link(rel='stylesheet', href='/stylesheets/interfaces/' + interfaceKey + '/style.css')
    //-- else
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/themes/brand-dark/jquery-ui-1.9.2.custom.css')
    script(src='/javascripts/jquery-1.8.3.js')
    script(src='/javascripts/jquery-ui-1.9.2.custom.min.js')
    script(src='/javascripts/jquery.form.js')
    script(src='/javascripts/spin.min.js')
    script(src='/javascripts/jquery.spin.js')
    script.
        function startSpin() {
            $(".wrapper").spin("large", "white");
            $(".popup").fadeTo(200, 0.5);
        }

        function stopSpin() {
            $(".popup").fadeTo(200, 1);
            $(".wrapper").spin(false);
        }

    block head

  body.dark
    div.wrapper
      header
        include _header-dark.jade

      div.main
        block content

      footer
        include _footer.jade


