extends layout-dark

block content
  script.
    window.addEventListener("load", function() { $("#email").focus(); }, false);

  div.popup
    h2 Sign in

    form(action="#{url}", method="post")

      div#email-div
        label(for="email")
          strong Email
        input(type="text", spellcheck="false", id="email", name="username", required="required")

      div#password-div
        label(for="password")
          strong Password
        input(type="password", name="password", id="password", required="required")
        - if (errormsg)
          span.error_message
            | #{errormsg}

      - if (clusterType == 'public')
          div#request_invite_div
            a(href="/signup/request_invitation") Need an account?

      div.popup-bar
        input.button.button-submit(type="submit", value="Sign in", id="submit", name="submit")

  div.product-info

