extends layout

block content
  .legal
    h2.center
        | Ufora, Inc.
        br
        | Privacy Policy
    h4 Last Updated: February 23, 2015

    h3 WHO WE ARE:
    p
      | We are Ufora, Inc. and our corporate website (the “Site”) is located at 
      a(href="http://www.ufora.com") http://www.ufora.com
      | . Ufora is committed to respecting and protecting your privacy. 
      | To that end, we have prepared this privacy policy (“Privacy Policy”) to describe our information gathering and dissemination practices and our data protection practices for the Site and Service; it does not apply to other online or offline Ufora sites, products or services. 
      | The terms “Ufora,” “we,” “us,” and “our” refer to Ufora, Inc. and its affiliates.

    h3 WHAT THIS IS:
    p
      | This is our Privacy Policy and it applies to our Service and describes our collection of Personal Information from users who have registered for the Service (“Subscribers”) and visitors, whether Subscribers or not, to the Site, (“Visitors”) (together, “You”, “Your” or “Users”). 
      | We take Your privacy seriously and make it a priority to protect personally identifiable information that we obtain from and about You both online and off-line. 
      | If You have questions about our Privacy Policy, please send an email to 
      a(href="mailto:privacy@ufora.com") privacy@ufora.com.

    p
      | By using the Service or visiting the Site, You expressly consent to the information handling practices described in this Privacy Policy. 
      | If You do not want information about You to be used in the manner set forth in this Privacy Policy, please do not use the Service or visit the Site.
    p
      | This Privacy Policy is incorporated into and is subject to the Ufora Terms of Service (the “TOS”), located at 
      a(href="/legal/tos") #{tosUrl}
      | , and any capitalized terms used but not defined in this Privacy Policy are defined in the TOS. 
      | Your use of the Service and any Personal Information You provide via the Service are subject to the terms of this Privacy Policy and Ufora’s Terms of Use.

    h3 PERSONAL INFORMATION
    p
      | “Personal Information,” as used in this Privacy Policy, is information that specifically identifies an individual, such as an individual's name, address, telephone number, e-mail address, or employer name. 
      | Personal Information also includes information about an individual’s activities, such as information about his or her activity on our Service and preferences, when any of this information is linked to Personal Information that identifies that individual.

    h3 ANONYMOUS AGGREGATED DATA:
    p
      | Anonymous data is information (originally personally identifiable or non-personally identifiable) that subsequently is used in aggregate form. 
      | Although anonymous data may be based in part on personal data, it does not identify You personally. 
      | We may collect anonymous data whether or not You are a Subscriber. 
      | We and/or third parties that are providing services in connection with the Service may use anonymous data for a number of purposes, including analysis of the usage of the Service, and interests and behavior.

    h3 INFORMATION UFORA COLLECTS:
    i Collection of Voluntarily-Provided Information
    ul
      li
        | User Provided Information. 
        | When You register and set up an account, use or visit the Service or Site, or contact us by e-mail or other means for any reason, You may provide Personal Information to Ufora. 
        | Personal Information may also be collected if You provide such information in connection with posting or uploading content to the Service or participating in any features of the Service. 
        | In addition, from time to time we may collect other Personal Information You provide in connection with Your participation in promotional offers and other activities on the Service.

      br
      li
        | Payment Information. 
        | If You subscribe to the Service or purchase products from the Service, we will collect the billing and financial information necessary to process Your charges, which may include Your postal and email addresses. 
        | We may also receive the billing and payment information that You provide when Your purchase is processed by a third party.

    i Passively Collected Information
    ul
      li
        | Automatically Collected Information. 
        | When You use the Service or visit the Site, some information is also automatically collected, such as Your Internet Protocol (IP) address, Your operating system, the browser type, the address of a referring Web site and Your activity on the Service or Site. 
        | We treat this information as Personal Information if we combine it with or link it to any of the identifying information mentioned above. 
        | Otherwise, it is used in the aggregate only and is not considered by Ufora to be subject to the restrictions in this Privacy Policy.

      br
      li
        | "Cookies" and Clear Gif Information. 
        | We may automatically collect certain information through the use of "cookies" and/or clear gifs. 
        | Cookies are small data files that are stored on a User's hard drive at the request of a Web site to enable such Web site to recognize Users who have previously visited them and retain certain information such as customer preferences and history. 
        | If we combine cookies with or link them to any Personal Information, we would treat this information as Personal Information. 
        | Clear gifs (also known as web bugs or web beacons) are small, invisible graphic images that may be used by the Service or Site or in emails relating to the Service or Site to collect certain information and monitor user activity on the Service and Site and may be combined with Your IP address or other information that we have gathered with respect to a Your use of the Service or Site. 
        | If You wish to block, erase, or be warned of cookies, please refer to Your browser instructions or help screen to learn about these functions. 
        | However, if a browser is set not to accept cookies or if You reject a cookie, some portions of the Service may not function properly. 
        | For example, You may not be able to sign in and may not be able to access certain features of the Service.

      br
      li
        | We use analytics tools to track how You get to our Site and to understand how You use the Site after You arrive. 
        | Although this allows us to see and analyze Your movements around the Site, our systems do not provide a way for that information to be tied to any Personal Information You choose to give us.

    h3 THE WAY UFORA USES AND DISCLOSES INFORMATION:
    ul
      li
        | In general, we use Personal Information we collect to process Your requests or transactions, to provide You with information or services You request, to inform You about other information, events, promotions, products or services we think will be of interest to You, to facilitate Your use of, and our administration and operation of, the Service, and for the purpose for which the information was provided. 
        | For example, we may use the information we collect:
        ul
          br
          li
            | to send You a welcoming email and to contact You about Your use of the Service, to provide other services, products or information You request and to complete any transactions in connection therewith;

          br
          li to enable Your use of the Service;

          br
          li to respond to Your emails, submissions, comments, requests or complaints;

          br
          li to request feedback and to enable us to develop, customize and improve the Service;

          br
          li
            | to contact You about our or a third party's services, products, activities, special events or offers and for other marketing, informational, product development and promotional purposes;

          br
          li for the specific purpose for which the information was provided; and

          br
          li to conduct an aggregate analysis of the performance of the Service.

      br
      li
        | Ufora may use "cookies" or clear gif information for a number of reasons related to the Service, including to: (a) remember Your information so that You will not have to re-enter it during Your visit or the next time You use the Service; (b) monitor aggregate Site usage metrics such as total number of visitors and pages viewed; and (c) track Your entries, submissions, and status in any promotions or other activities.

      br
      li
        | We have a policy that Ufora's employees, agents and contractors must have a legitimate business reason to obtain access to the Personal Information You may provide to register as a member of the Site and/or to use the Service. 
        | We may share Your Personal Information with companies that provide services to us, including outside contractors or agents who help us manage our information activities (for example, for payment processing, data storage, customer service, email delivery, and to assist us in our marketing efforts), but we limit the Personal Information that is provided to these service providers to that which is reasonably necessary to provide us with a specific service and not for any other purpose and we require them to maintain the confidentiality of the Personal Information.

      br
      li
        | Personal Information provided online may be linked together or merged with other Personal Information so that we may better understand Your needs and inform You about our products or services and those of our partners. 
        | In addition, if we receive information from third parties with whom we have business relationships, we may combine this information with the other Personal Information we maintain about You. 
        | In either case, this Privacy Policy governs this information.

      br
      li
        | We may disclose Personal Information in the good faith belief that we are lawfully authorized or required to do so, or that doing so is reasonably necessary or appropriate to comply with the law or with legal process or authorities, respond to any claims, or to protect the rights, property or safety of the Service, our Users, our employees or the public, including without limitation to protect Ufora or our Users from fraudulent, abusive, inappropriate or unlawful use of the Service.

      br
      li
        | You understand that when You use the Service, information or content You post to, upload to, or create through the Service that You elect to publish and content You post to any interactive features of the Service, such as any forums, surveys, and discussion boards in which Users participate at their option, may be available to other Users and in some cases may be publicly available and that You provide that information at Your sole risk. 
        | We recommend You be cautious in giving out Personal Information to others or sharing such information in public online forums. 
        | Even after information posted on the Service is removed, caching and archiving services may have saved that information and other Users or third parties may have copied or stored the information. 

      br
      li
        | We may disclose Personal Information in connection with the reorganization, reincorporation, acquisition, debt financing, merger, sale of Ufora's relevant assets or business or similar transaction, as well as in the event of an insolvency, bankruptcy, or receivership in which Personal Information is transferred to one or more third parties as one of our business assets.

      br
      li
        | We use all of the information that You provide or that we collect and/or aggregate to understand and analyze the usage trends, interests, and preferences of our Users, to improve the way the Service works and looks and to create new features and functionality.

    h3 HOW UFORA PROTECTS INFORMATION:
    ul
      li
        | Ufora uses commercially reasonable physical, managerial, and technical safeguards to preserve the integrity and security of Your Personal Information. 
        | We cannot, however, ensure or warrant the security of any information You transmit to Ufora, and You do so at Your own risk and this is not a guarantee that such information will not be accessed, disclosed, altered, or destroyed by breach of any of Ufora's physical, technical, or managerial safeguards.

      br
      li
        | If Ufora learns of a security systems breach, then we may attempt to notify You electronically through the contact information that You have provided to Ufora so that You can take appropriate protective steps. 
        | Ufora may also post a notice on the App and/or the Site if a security breach occurs. 
        | Depending on where You live, You may have a legal right to receive notice of a security breach in writing.

    h3 CHOICES YOU HAVE REGARDING THE USE OF YOUR PERSONAL INFORMATION:
    ul
      li
        | You may, of course, decline to share Your Personal Information with Ufora, in which case Ufora will not be able to provide to You some of the features and functionality found in the Service. 
        | If You open an Account and subscribe to the Service, You may update, correct, or delete Your profile information and preferences at any time by emailing us at 
        a(href="mailto:privacy@ufora.com") privacy@ufora.com.
        p
          | You may "opt out" of receiving promotional and marketing materials by emailing us at 
          a(href="mailto:privacy@ufora.com") privacy@ufora.com.
          |  However, this shall not affect our ability to send You service and account related emails and to use Your Personal Information as otherwise described in this Privacy Policy. 
          | Please be aware that if You “opt out” of receiving commercial emails from us, it may take up to ten business days for us to process Your “opt out” and You may receive commercial emails from us during that period.

      li
        | You are solely responsible for maintaining the secrecy of Your unique password and account information at all times.

    h3 LINKS TO OTHER WEBSITES:
    p
      | The Service may be linked to third party sites operated by other companies, products, or services that we do not own or operate (“Third Party Sites”). 
      | Some of these Third Party Sites may be co-branded with our name or logo, even though they are not operated or maintained by us. 
      | If You choose to visit or use any third party products or services, please be aware that this Privacy Policy will not apply to Your activities or any information You disclose while using third party products or services or otherwise interacting with third parties. 
      | We are not responsible for the privacy practices of these Third Party Sites and third party services. 
      | Additionally, please be aware that the Service may contain links to Web sites and services that we operate but that are governed by different privacy policies. 
      | We encourage You to carefully review the privacy policies applicable to any Web site or service You visit other than the Service before providing any Personal Information on them.

    h3 OUR COMMITMENT TO CHILDREN'S PRIVACY:
    p
      | Protecting the privacy of young children is especially important.
      | For that reason, our Service are not directed to persons under 13 years-of-age and Ufora does not knowingly collect or maintain Personal Information from persons under 13 years-of-age.
      | If Ufora learns that Personal Information of persons under 13 years-of-age has been collected in the Service without verifiable parental consent, then Ufora will take the appropriate steps to delete this information. 
      | If You are a parent or guardian and discover that Your child under the age of 13 has obtained a Ufora account, then You may alert Ufora at 
      a(href="mailto:privacy@ufora.com") privacy@ufora.com
      |  and request that Ufora delete that child's Personal Information from its systems.

    h3 INTERNATIONAL VISITORS
    p
      | The Service is hosted in the United States and generally is intended for United States visitors.
      | If You visit from the European Union or other regions with laws governing data collection and use that may differ from United States law, please be aware that You are transferring Personal Information to the United States. 
      | The United States does not have the same data protection laws as the European Union and other jurisdictions. 
      | By providing Personal Information to us, You consent to the transfer of it to the United States and the use of it in accordance with this Privacy Policy and applicable law. 


    h3 CHANGES AND UPDATES TO THIS PRIVACY POLICY:
    p
      | This Privacy Policy may be revised periodically and this will be reflected by a "Last Updated" date above. 
      | We may not notify You of any changes to this Privacy Policy except by posting a new privacy policy. 
      | Please revisit this page to stay aware of any changes. 
      | Your continued use of the Service constitutes Your agreement to this Privacy Policy and any future revisions. 
      | However, if we change this Privacy Policy in a manner that is materially less restrictive of our use or disclosure of Your Personal Information, we will use reasonable efforts to notify You of the change and to obtain Your consent prior to applying the change to any Personal Information that we collected from You prior to the date the change becomes effective. 
      | We encourage You to periodically review this Privacy Policy to stay informed about how we collect, use and disclose Personal Information. 

    h3 UFORA CONTACT INFORMATION:
    p
      | Please contact Ufora with any questions or comments about this Privacy Policy, Your Personal Information, our third-party disclosure practices, or Your consent choices by email at 
      a(href="privacy@ufora.com") privacy@ufora.com
      |  or by mail at:
      br
      span.block
        | Ufora, Inc:
        br
        | 115 W. 27th Street, 7th Floor
        br
        | New York, NY 10001
        br
        | Attn: Legal

