extends error_layout

block details
    hr
    p
      | Our server encountered an error and was unable to complete your request.
      br
      | We have logged the error and our engineers will analyze and fix the problem.
    p Our apologies for the inconvenience.
