.legal.numbered
    h2.center
        | Ufora, Inc.
        br
        | Terms of Service
    h4 Last Updated: February 23, 2015

    p.
        Welcome and thank you for your interest in Ufora, Inc.
        The following Terms of Service (the “<em>Agreement</em>”) govern your access and use of the products and services available on or through the website (the “<em>Services</em>”) located at #{baseUrl} (the “<em>Site</em>”) provided and operated by Ufora, Inc. (the Services, the Software (as defined below), and the Site are, collectively, the “<em>Service</em>”).
        This Agreement will apply to each physical, online, or electronic order form, as applicable, which is accepted by Ufora (an “<em>Order Form</em>”) for the Service as described in each Order Form.
        The term “Ufora” refers to Ufora, Inc.  The terms “you” and “your” refer to the user or customer using the Service.
    p.
        This Agreement constitutes a binding legal agreement between Ufora and you regarding the use of the Service.
        BEFORE YOU CLICK ON THE “I ACCEPT AND AGREE” BUTTON AT THE END OF THIS DOCUMENT, CAREFULLY READ THIS AGREEMENT.
        BY CLICKING ON THE “I ACCEPT AND AGREE” BUTTON, SUBSCRIBING TO THE SERVICE, OR OTHERWISE USING THE SERVICE, YOU ARE AGREEING TO BE BOUND BY AND ARE BECOMING A PARTY TO THIS AGREEMENT.
        IF YOU WISH TO USE THE SERVICE ON BEHALF OF A LEGAL ENTITY, YOU MUST HAVE THE ABILITY TO BIND SUCH ENTITY TO THIS AGREEMENT.
        YOU MAY NOT ACCESS THE SERVICE IF YOU ARE A DIRECT COMPETITOR OF UFORA, EXCEPT WITH UFORA’S PRIOR WRITTEN CONSENT.
        IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT OR IF YOU DO NOT QUALIFY FOR THE SERVICE, PLEASE DO NOT ACCEPT THIS AGREEMENT OR SUBSCRIBE TO, ACCESS, OR USE THE SERVICE.

    ol
      li <b>The Service</b>
      br
      ol
        li.
          <em>Provision of Service.</em> Subject to the terms and conditions of this Agreement and the Order Form, including without limitation your payment of all of the Fees due hereunder, Ufora will provide you with access to the Service to be delivered via the Site during the Term of this Agreement.  Subject to your acceptance of this Agreement, by opening an account with Ufora on the Site (the “<em>Account</em>”), you may access and utilize the Service during the Term of this Agreement solely for its intended purpose in accordance with this Agreement and the Order Form and provided that your Account has not been terminated in accordance with the terms and conditions of this Agreement.
        br

        li.
          <em>Beta Service and Free Trials.</em> Ufora may offer the Service as a “beta” version or with “beta” features for testing and evaluation purposes and to receive Feedback from the user (the “<em>Beta Service</em>”) or free trials of the Service or premium features thereof for evaluation or promotional purposes (“<em>Free Trials</em>”). The Beta Service or Free Trial will be provided free of cost to users using the Beta Service or Free Trial (“<em>Trial Users</em>”). Ufora will determine, at its sole discretion, the term of the Beta Service (the “<em>Trial Period</em>”) and the features and functionality made available to Trial Users. If Ufora accepts you as a Trial User, you will be authorized to use and access the Beta Service or Free Trial during the Trial Period. THE BETA SERVICE AND FREE TRIAL AND ANY ACCOMPANYING SOFTWARE IS PROVIDED “AS-IS” WITHOUT ANY WARRANTIES. UFORA WILL NOT BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY HARM RELATED TO, ARISING OUT OF, OR CAUSED BY THE BETA SERVICE OR FREE TRIAL AND ANY MODIFICATION, SUSPENSION, OR TERMINATION THEREOF. You agree to provide Feedback and respond to Ufora’s questions or other inquiries regarding your use of the Beta Service. Ufora at its sole discretion shall determine whether or not to continue to offer the Beta Service and Free Trial. Upon completion of the Trial Period, you will lose access to the Beta Service and/or Free Trial. Except as otherwise provided in this Section 1.2, this Agreement governs your use of any Beta Service and Free Trial.
        br

        li.
          <em>Authorized User Accounts.</em> You may establish user accounts for designated users to have full access to and use of the Service on your behalf (such users, “<em>Authorized Users</em>”). The number of Authorized Users you may have may be limited as set forth in the Order Form. Authorized Users shall at all times abide by the terms and conditions of this Agreement. You and any Authorized Users shall immediately notify Ufora in the event that you or an Authorized User becomes aware of any violation of the terms and conditions of this Agreement. You are responsible for all activity under your Account, including the activity of Authorized Users who have been added to your Account by you.
        br

        li.
          <em>Account Protection.</em> You are responsible and liable for any activity by any person who uses the Service through your Account, including any Authorized Users.  You and all Authorized Users are responsible for protecting the confidentiality of all Account information, including user names and passwords.  You agree to immediately notify Ufora of any unauthorized use of the Service or any other breach of security known or suspected by you or any Authorized User and you shall immediately de-activate such Account or change the Account’s login information.
        br

        li.
          <em>Your Materials.</em> You shall provide Ufora with all information, assistance and materials as reasonably required for Ufora to activate and operate the Service for you pursuant to this Agreement. You represent and warrant that you have all the necessary rights to provide such information and materials to us in accordance with this Section and that all such information and materials will be accurate, current, and complete and not false or misleading. You grant to Ufora a non-exclusive right and license to use, reproduce, display and distribute, including without limitation to third party service providers, such information and materials in connection with the provision of the Service for you as well as to contact you about Ufora’s updates and upgrades to the Service, other services, products, activities, special events or offers and for other marketing, informational, product development and promotional purposes and to request Feedback from you. Ufora will use such information and materials in accordance with the Ufora Privacy Policy, located at #{privacyPolicyUrl} (the “<em>Privacy Policy</em>”). You shall indemnify, defend and hold Ufora and its affiliates, licensors and suppliers, and their respective directors, officers, employees, agents, and assigns harmless from and against any and all third party claims or liabilities resulting from our use of such information and materials pursuant to the terms of this Agreement.
        br

        li.
          <em>Restrictions.</em> You and any Authorized Users agree to abide by all laws, rules, and regulations that are applicable to your use of the Service. In addition, you and any Authorized Users may not, and may not permit any third party to, (i) copy, reproduce, modify, translate, prepare derivative works of, de-compile, reverse engineer, disassemble or otherwise attempt to derive source code from the Service; (ii) use, evaluate or view the Service for the purpose of designing, modifying, or otherwise creating any environment, program, or infrastructure or any portion thereof, which performs functions similar to the functions performed by the Service; (iii) use the Service in violation of this Agreement; (iv) use the Service to violate any law or regulation, (v) access the Service for the purposes of monitoring its availability, performance or functionality, or for any other benchmarking or competitive purposes; or (vi) use the Service in a service bureau or any other manner to provide services for a third party.  Neither you nor any Authorized User shall remove, obscure, or alter any copyright notice, trademarks, logos and trade names, or other proprietary rights notices affixed to, or contained within the Service.  Except for the express rights granted herein, Ufora does not grant any other licenses, whether express or implied, to any Ufora software, services, or intellectual property.
        br

        li.
          <em>Reservation of Rights.</em> As between the parties, Ufora reserves all rights in and to the Service and any data or materials Ufora creates, develops, or otherwise provides to you in connection with, arising from, or through the Service or this Agreement and all other elements of the Service provided by Ufora (“<em>Ufora Materials</em>”), including without limitation all intellectual property rights therein, and the rights of its third party service providers that are not expressly granted to you pursuant to this Agreement. Nothing in this Agreement will be deemed to transfer the ownership thereof.
        br

        li.
          <em>Additional Terms.</em> Your use of the Service is subject to, and you shall at all times comply with, the Privacy Policy and EULA, which are hereby incorporated into and made a part of this Agreement by reference, and subject to change at Ufora’s sole discretion.
        br

    li <b>Terms and Termination</b>
      br
      ol
        li.
          <em>Term.</em> The term of this Agreement shall be as described in the Order Form (the “<em>Term</em>”) or the duration of the Trial Period.  Except as otherwise specified in the Order Form, the Term shall automatically renew for successive one month periods (each such period, a “Renewal Term”) at Ufora’s then-current payment and pricing terms, unless either party provides to the other party notice of non-renewal of at least 30 days prior to the expiration of the Term or any Renewal Term. For the avoidance of doubt, the Beta Service and the Free Trials will not automatically renew at the end of the Trial Period and you will have to subscribe to the Service to continue using the Service after the Trial Period.
        br

        li.
          <em>Termination for Cause.</em> If either party fails to comply with any of the material terms and conditions of this Agreement, including without limitation the payment of any fees or other reimbursement due and payable to Ufora under this Agreement, the non-defaulting party may terminate this Agreement and any and all license rights upon 30 days' written notice to the defaulting party specifying any such breach, unless within the period of such notice, all breaches specified therein shall have been remedied. Either party may terminate this Agreement upon: (i) the institution of insolvency, bankruptcy, or similar proceedings by or against the other party, (ii) any assignment or attempted assignment by the other party for the benefit of creditors, or (iii) any appointment, or application for such appointment, of a receiver for the other party.
        br

        li.
          <em>Termination for Convenience.</em> Ufora, at its sole discretion, has the right to suspend or terminate your Account, this Agreement, and any Order Form and refuse any and all current or future use of the Service by you, for any reason at any time without any liability to you. You may also terminate this Agreement and your Account at any time by notifying Ufora of termination, provided that Ufora will not be obligated to refund any advance payments made by you for the Service and that, upon Ufora’s request, all payments that would have been due by you to Ufora throughout the remainder of the Term if such termination had not taken place shall immediately become payable in full by you to Ufora.
        br

        li.
          <em>Effect of Termination.</em> Upon termination or expiration of this Agreement, you and any Authorized Users must immediately stop using the Service. Termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture of any and all of your content in your Account. All of your content will be stored in the Service's or third-party service provider’s database for a period of 30 days following the termination of your Account (the "<em>Storage Period</em>").  After the Storage Period, your content may be permanently deleted from the Service's or third-party service provider’s servers.
        br

        li.
          <em>Survival.</em> Except as otherwise expressly provided herein, all sections of this Agreement that, by their nature, should survive termination or expiration of this Agreement, will survive termination or expiration of this Agreement, including without limitation Sections 1.5, 1.6, 1.7, 2.3, 2.4, 2.5, 3, 5, 6, 7, and 10. Upon termination or expiration of this Agreement, Ufora may continue to use your Data (as defined below) as permitted under this Agreement.
        br

    li <b>Fees and Payment</b>
      br
      ol
        li.
          <em>Beta Service and Free Trials.</em> For the avoidance of doubt, the Beta Service and Free Trials are provided to you free of cost and this Section 3 does not apply to you as a Trial User.
        br

        li.
          <em>Fees.</em> You shall pay Ufora the Service fees specified in the Order Form (the “<em>Fees</em>”). All Fees are due and payable in U.S. dollars. For an order not commencing on the first day of the month, the first month’s Fees shall be prorated for the remainder of that month. Each payment of your Fees will grant you access to your Account for the duration of the Term in accordance with the terms and conditions of this Agreement. All Fees are non-refundable unless otherwise provided by law. Notwithstanding the foregoing, you will be given a refund of the Fees you have paid in advance for the unused portions of the Term if the Service is permanently discontinued by Ufora or if this Agreement or your Account is terminated by Ufora for convenience as provided in Section 2.3.  Ufora reserves the right to change the price payable by you for the Service during the Term upon 30 days’ prior written notice to you.
        br

        li.
          <em>Billing and Payment Terms.</em> You shall pay, and you authorize Ufora or its third party payment providers to charge you for, all Fees via the payment method specified in the Order Form. Without limiting the foregoing, if you choose to have payments automatically charged to an authorized credit card provided by you, you authorize Ufora or its third party payment processors to charge you the Fees automatically in accordance with the Order form.  You acknowledge and agree that any credit card and related billing and payment information you provide to Ufora may be shared by Ufora with credit card payment processors and/or credit agencies for the purpose of checking credit, effecting payment to Ufora, and servicing your Account in accordance with the Order Form. The terms of your payment will be based on your chosen payment method and may be determined by agreement between you and the financial institution providing such payment method. If payment is not made within 15 days after the respective due date, Ufora may charge you a late fee on the unpaid balance at the lesser of 1.5% per month or the maximum lawful rate permitted by applicable law, rounded to the next highest whole month and compounded monthly.
        br

        li.
          <em>Taxes.</em> The Fees for the Service exclude all sales, value-added, use, or similar taxes unless expressly stated otherwise. To the maximum extent permitted by law, you shall pay such taxes and charges in full, except for taxes based on Ufora’s net income. To the extent that such taxes and charges are borne by Ufora then such taxes and charges shall be added to the price payable by you to Ufora.
        br

    li <b>Support and Maintenance; Service Availability</b>
      br
      ol
        li.
          <em>Support.</em> Ufora provides a range of online support that includes video tutorials and access to user forums.  In addition, Ufora may choose to provide direct technical support in accordance with the terms of this Agreement. 
        br

        li.
          <em>Upgrades and Updates.</em> Future versions of the Service and any Software may be developed and released by Ufora at its sole discretion. Ufora does not warrant that it will develop or release any upgrades within a given timeframe. If Ufora releases any updates or upgrades to the Service, it is your responsibility to install such updates or upgrades and use the latest version of the Service to receive the full features of the Service in accordance with the Order Form and Ufora is not responsible for your inability to access any features of the Service due to your failure to do so.
        br

        li.
          <em>Availability of the Service.</em> Ufora may host the Service using its own infrastructure or it may engage a third party to host or otherwise provide the Service on its behalf. Ufora reserves the right to modify or discontinue the Service (or any part thereof including without limitation areas of functionality) at any time with or without notice. If Ufora discontinues the Service permanently, you may be entitled to a refund of Fees as provided in Section 3.2 above.
        br

    li <b>Proprietary Rights</b>
      br
      ol
        li.
          <em>Service Ownership.</em> As between the parties, Ufora retains all right, title and interest, including without limitation all intellectual property rights, in and to the Ufora technology, the Ufora Materials, and the Service, including without limitation all modifications, improvements, and upgrades thereof. This Agreement does not convey to you any rights of ownership in or related to the Service, the Ufora technology, the Ufora Materials or the intellectual property rights owned or licensed by Ufora. The Ufora, Inc. name, the Ufora logo, and the product names associated with the Service are trademarks of Ufora or third parties, and no right or license is granted to you or any other party to use them. You hereby assign any and all right, title, and interest in and to the foregoing, including without limitation the Service, Ufora technology, Ufora Materials, and any Ufora trademarks, you may have or acquire to Ufora. You agree to assign and hereby do assign and otherwise transfer all right, title, and interest in and to any suggestions, ideas, enhancement requests, feedback, recommendations or other information you provide (“<em>Feedback</em>”) to Ufora for any purpose without compensation or restriction.
        br

        li.
          <em>Third Party Data.</em> Ufora may from time to time make available third-party data or content, including without limitation from other users of the Service, for you to use solely with the Service and in accordance with this Agreement. SUCH THIRD-PARTY DATA OR CONTENT IS PROVIDED BY UFORA TO YOU “AS IS” WITHOUT ANY WARRANTIES. UFORA WILL NOT BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY HARM RELATED TO, ARISING OUT OF, OR CAUSED BY YOUR USE OF SUCH THIRD-PARTY DATA OR CONTENT. All title and intellectual property rights in and to the content of any third party web site that may be linked to or viewed in connection with the Service is the property of the respective content owner and may be protected by applicable copyright or other intellectual property laws and treaties. This Agreement grants you no rights to use such content except as allowed by such third party.
        br

        li.
          <em>Data Ownership.</em> You shall own and retain all right, title, and interest in and to any data that you store and any content you create using the features of the Service in accordance with this Agreement, and, except as otherwise provided herein, any data that is collected by Ufora from you in connection with your use of the Service in accordance with this Agreement (“<em>Data</em>”). The Service may allow you to elect to publish your Data to allow other users of the Service to access and use your Data in connection with their use of the Service. You grant and agree to grant to Ufora a perpetual, non-exclusive right and license to use, access, host, copy, distribute, store, transmit, adapt, reformat, publicly display and publicly perform such Data (a) in order to provide the Service to you, including without limitation to publish your Data at your option as described above; (b) for internal business purposes; (c) for analytics and statistical use (provided that such Data is aggregated or is not specifically identifiable to you); and (d) as necessary to monitor and improve the Service.
        br

        li.
          <em>Open Source and Third Party Software.</em> The Software may contain or be distributed with third party software covered by an open source software license (“Open Source Software”) or other third party software (“Third Party Software”) that may be covered by a different license.  If Open Source Software is included, the terms and conditions of this license do not apply to the Open Source Software.  If Third Party Software is included, the terms and conditions of this license may not apply to Third Party Software.  Information concerning the inclusion of Open Source Software and Third Party Software, if any, and the notices, license terms, and disclaimers applicable to that software, is available at #{thirdPartyUrl}.
        br

        li.
          <em>Copyright Policy.</em> If you believe that any content available through the Service violates any copyrights, please contact Ufora at legal@ufora.com for information on Ufora’s procedure relating to complaints of third-party copyright infringement. 
        br

        li.
          <em>Publicity.</em> By accepting this Agreement or otherwise accessing or using the Service you hereby acknowledge, agree and authorize Ufora to use your name, trademarks, and logos in connection with customer references on the Site, in customer lists, in presentations, in promotional and marketing materials, or in any other similar manner. You agree not to use any Ufora logos, graphics, or trademarks without Ufora’s prior express written consent.
        br

        li <em>Confidentiality.</em>
          br
          p.indent.
            (a) “<em>Confidential Information</em>” means any and all information that is disclosed by either party to the other party, either directly or indirectly, in writing, orally or by inspection of tangible objects, which if disclosed in writing or tangible objects, which if disclosed in writing or tangible form is marked as “Confidential,” or with some similar designation, or if disclosed orally or by inspection or observation, is identified as being proprietary and/or confidential at the time of disclosure and is confirmed as such in writing within 15 days of the disclosure. In the case of Ufora, Confidential Information includes without limitation the amounts of the Fees and the payment terms. Confidential Information does not include information that: (i) is or becomes generally known to the public through no fault of or breach of this Agreement by the receiving party; (ii) is rightfully known by the receiving party at the time of disclosure without an obligation of confidentiality; (iii) is independently developed by the receiving party without use of or reference to the disclosing party’s Confidential Information; or (iv) the receiving party rightfully obtains from a third party without restriction on use or disclosure.
          p.indent.
            (b) <em>Use and Disclosure Restrictions.</em>  Each party shall not use the other party’s Confidential Information except as necessary to exercise its rights or perform its obligations under this Agreement.  Except as otherwise permitted expressly by this Agreement, each party shall not disclose the other party’s Confidential Information to any third party except to those of its employees and contractors that need to know such Confidential Information for the purposes of this Agreement, provided that each such employee and contractor is subject to a written agreement that includes binding use and disclosure restrictions that are at least as protective of Confidential Information as those set forth herein.  Each party will use all reasonable efforts to maintain the confidentiality of all Confidential Information of the other party in its possession or control, but in no event less than the efforts that the party ordinarily uses with respect to its own proprietary information of similar nature and importance.  The foregoing obligations will not restrict either party from disclosing Confidential Information of the other party: (i) pursuant to the order or requirement of a court, administrative agency, or other governmental body, provided that the party required to make such a disclosure gives reasonable notice to the other party to contest such order or requirement or (ii) on an as-needed, confidential basis to its legal or financial advisors.  In addition, each party may disclose the provisions of this Agreement: (a) as required under applicable securities regulations and (b) on a confidential basis to current or prospective investors or acquirers of such party.  

    li <b>Representations and Warranties; Indemnification</b>
      br
      ol
        li.
          <em>By Ufora.</em> Ufora represents and warrants that it has the full power and authority to enter into this Agreement, the execution of this Agreement and performance of its obligations under this Agreement does not violate any other agreement to which it is a party, and this Agreement constitutes a legal, valid and binding obligation when accepted by you. For any breach of such warranty, your exclusive remedy shall be provided in Sections 2.2, 2.3, and 2.4 above. NOTWITHSTANDING THIS SECTION 6.1, THE BETA SERVICE AND FREE TRIALS ARE PROVIDED “AS IS” AND WITHOUT ANY WARRANTIES.
        br

        li.
          <em>By You.</em> You represent and warrant that you have the full power and authority to enter into this Agreement, the execution of this Agreement and performance of your obligations under this Agreement does not violate any other agreement to which you are a party, and this Agreement constitutes a legal, valid and binding obligation when accepted by you. You represent and warrant that the materials, data, and information you use in connection with this Agreement as well as your and any Authorized Users’ use of the Service does not and will not operate in any manner that would violate any applicable law or regulation. You hereby represent and warrant that any data, content, or materials used, stored, created, or shared by you in the course of using the Service, including without limitation any Data, will comply with all applicable laws, and will not infringe the copyright, trade secret, privacy, publicity, or other rights, including without limitation intellectual property rights, of any third party.  You represent and warrant that you have and will maintain the necessary rights to allow Ufora (i) to use, display, reproduce, store, create, and share such data, content or materials in connection with providing the Service to you and (ii) to exercise its rights and perform its obligations in accordance with this Agreement. In the event of any breach, or reasonably anticipated breach, of any of your warranties herein, in addition to any other remedies available at law or in equity, Ufora will have the right to immediately, in its sole discretion, suspend the Service if deemed reasonably necessary by Ufora to prevent any liability for Ufora. You shall indemnify, defend, and hold harmless Ufora and its affiliates, licensors and suppliers, and their respective directors, officers, employees, agents, and assigns from and against all damages and liabilities (including reasonable attorneys’ fees) that arise from a third party’s claim resulting from any breach or alleged breach of any of your representations and warranties herein and any unauthorized use of the Service by you or your Authorized Users.
        br

        li <em>Disclaimers.</em>
          br
          p.indent.
            (a) <em>THE SERVICE AND UFORA MATERIALS.</em> EXCEPT AS SET FORTH IN THIS AGREEMENT, TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, THE SERVICE AND UFORA MATERIALS ARE PROVIDED “AS IS” AND YOU AGREE THAT YOUR USE OF THE SERVICE AND UFORA MATERIALS IS AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, UFORA DISCLAIMS ANY AND ALL OTHER WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE WARRANTIES OF QUALITY, PERFORMANCE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING FROM A COURSE OF DEALING, USAGE, OR TRADE PRACTICE. UFORA MAKES NO WARRANTY THAT THE SERVICE OR THE UFORA MATERIALS WILL MEET YOUR REQUIREMENTS OR NEEDS OR THAT THE SERVICE OR THE UFORA MATERIALS WILL BE UNINTERRUPTED, TIMELY OR BE FREE FROM ERRORS. UFORA DOES NOT WARRANT THE UFORA MATERIALS AND HAS NO LIABILITY FOR YOUR USE OF THE UFORA MATERIALS. UFORA DOES NOT MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE OR UFORA MATERIALS OR THE ACCURACY OF ANY OTHER INFORMATION OBTAINED THROUGH OR IN CONNECTION WITH YOUR USE OF THE SERVICE OR UFORA MATERIALS. UFORA HAS NO LIABILITY FOR ANY LOSS OF DATA RESULTING FROM YOUR USE OF THE SERVICE OR UFORA MATERIALS. UFORA RESERVES THE RIGHT, BUT HAS NO OBLIGATION, TO REMOVE ANY USER OR THIRD-PARTY CONTENT AVAILABLE THROUGH THE SERVICE AT ITS DISCRETION, WITHOUT NOTICE OR LIABILITY TO YOU. YOU UNDERSTAND AND AGREE THAT ANY SOFTWARE, MATERIAL AND/OR DATA, INCLUDING WITHOUT LIMITATION ANY UFORA MATERIALS, DOWNLOADED OR OTHERWISE OBTAINED (INCLUDING WITHOUT LIMITATION PLUG-INS) THROUGH THE USE OF THE SERVICE IS DONE AT YOUR OWN RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR PROPERTY (INCLUDING WITHOUT LIMITATION YOUR COMPUTER SYSTEM) OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OR USE OF SUCH SOFTWARE, MATERIAL, AND/OR DATA.
        p.indent.
          (b) <em>THIRD PARTY SERVICES.</em> UFORA OR THIRD PARTIES MAY PROVIDE LINKS, REFERRALS OR FEATURES IN THE SERVICE TO AND FROM OTHER SERVICES, PRODUCTS, WEBSITES OR CONTENT ("<em>THIRD PARTY SERVICES</em>").  UFORA HAS NO CONTROL OVER SUCH THIRD PARTY SERVICES, AND THEREFORE MAKES NO CLAIM OR REPRESENTATION REGARDING, AND EXPRESSLY DISCLAIMS RESPONSIBILITY FOR, THE ACCURACY, QUALITY, LEGALITY, NATURE, AVAILABILITY OR RELIABILITY OF THIRD PARTY SERVICES LINKED TO BY THE SERVICE.  UFORA PROVIDES THIRD PARTY SERVICE LINKS, REFERRALS AND FEATURES TO YOU ONLY AS A CONVENIENCE, AND THE INCLUSION OF ANY LINK, REFERRAL OR FEATURES ON THE SERVICE DOES NOT IMPLY UFORA’S AFFILIATION, ENDORSEMENT, OR ADOPTION OF THE THIRD PARTY SERVICE OR ANY CONTENT THEREIN.  ACCESS AND USE OF THIRD PARTY SERVICES, INCLUDING WITHOUT LIMITATION THE CONTENT, MATERIAL, PRODUCTS, AND SERVICES AVAILABLE ON OR THROUGH THIRD PARTY SERVICES, IS SOLELY AT YOUR OWN RISK.  WHEN YOU LEAVE THE SERVICE, UFORA’S TERMS AND POLICIES NO LONGER GOVERN.  YOU SHOULD REVIEW APPLICABLE TERMS AND POLICIES, INCLUDING WITHOUT LIMITATION THE PRIVACY AND DATA GATHERING PRACTICES, OF ANY THIRD PARTY SERVICES.  LIKE ANY FEATURES OF THE SERVICE, INTEGRATION WITH AND/OR ACCESS TO/FROM ALL OR ANY PART OF UFORA’S SERVICE FROM THIRD PARTY SERVICES, COLLECTED DATA, OR OTHERWISE MAY NOT CONTINUE AT ANY TIME.

    li <b>Limitations of Liability</b>
      br
      ol
        li.
          <em>Exclusions.</em> TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, UNDER NO CIRCUMSTANCES SHALL UFORA BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES OF ANY CHARACTER, INCLUDING, WITHOUT LIMITATION, LOSS OF GOODWILL, LOST PROFITS, LOST REVENUES, LOST SALES OR BUSINESS, WORK STOPPAGE, COMPUTER FAILURE OR MALFUNCTION, LOST DATA OR FOR ANY AND ALL OTHER DAMAGES OR LOSSES THAT RESULT FROM THE USE OF, OR INABILITY TO USE, THE SERVICE FOR ANY REASON, INCLUDING UNDER CONTRACT, TORT (INCLUDING NEGLIGENCE) STRICT LIABILITY, OR OTHERWISE, EVEN IF UFORA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        br

        li.
          <em>Maximum Liability.</em> TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL UFORA'S TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION (WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE) EXCEED THE SUM OF THE TOTAL FEES PAID BY YOU TO UFORA UNDER THIS AGREEMENT DURING THE 12 MONTHS IMMEDIATELY PRECEDING THE DATE THE CLAIM FIRST AROSE. YOU AGREE THAT THE EXISTENCE OF MORE THAN ONE CLAIM SHALL NOT INCREASE THE FOREGOING LIMIT.
        br

        li.
          <em>Basis of the Bargain; Failure of Essential Purpose.</em> You acknowledge that Ufora has set its prices and entered into this Agreement in reliance upon the limitations of liability and the disclaimers of warranties and damages set forth herein, and that the same form an essential basis of the bargain between the parties.  The parties agree that the limitations and exclusions of liability and disclaimers specified in this Agreement will survive and apply to the maximum extent permitted by law even if found to have failed of their essential purpose.
        br

    li <b>Assignment</b>
      p.
        This Agreement may not be assigned by you without the prior written consent of Ufora, whether expressly or by operation of law, including in connection with a merger or change of control. Ufora may assign this Agreement without restriction and without any notice to you. Any purported assignment in violation of this Section 8 shall be void and of no effect. Subject to the foregoing, this Agreement will bind and inure to the benefit of each party’s successors and permitted assigns.

    li <b>Changes to the Terms of Service</b>
      p.
        Ufora may change the terms of this agreement from time to time and at any time, with or without a release of a new version of the product, and without actual notice or liability to you.  All such changes to this Agreement will appear on the Site. Any revisions to the Agreement are effective upon posting to the Site. The Agreement will be identified as of the “Last Updated” date at the beginning of this Agreement.  You should visit the Site regularly to ensure your continued acceptance of this Agreement. You agree that your continued use or access of the Service after such changes to this Agreement have appeared on the Site shall constitute your consent to the new or revised set of terms and conditions of this Agreement.  Notwithstanding the foregoing, in the case of material changes to the Agreement, Ufora will use reasonable efforts to notify you of the change, such as via email, through a pop-up window, or other similar mechanism. Except as stated elsewhere, such materially modified Agreement will become effective upon the earlier of (i) your continued use of the Service with actual knowledge of such modified Agreement, or (ii) 30 days from the posting of such modified Agreement to the Site. Notwithstanding the preceding sentences of this Section 9, no revisions to this Agreement will apply to any dispute between you and Ufora that arose prior to the date of such revision. This Agreement may not be modified, amended, or changed by you in any manner.

    li <b>General</b>
      br
      ol
        li.
          </em>Equipment.</em> You are responsible for obtaining and maintaining the equipment and telephone services necessary to access and use the Service and the Site and for any telephone charges associated with connecting to the Internet to use the Service.
        br

        li.
          <em>Independent Contractor.</em> In performing under this Agreement, each party is acting as an independent contractor, and in no way are the parties to be construed as partners, joint venturers, employee-employer, or agents of one another in any respect. No party shall have any right to obligate or bind any other party in any manner whatsoever, and nothing herein contained shall give, or is intended to give, any rights of any kind to any third parties.
        br

        li.
          <em>Force Majeure.</em> Ufora is not responsible for any delays, delivery failures or damage resulting from problems inherent in the use of the Internet and electronic communications or due to any other cause beyond Ufora’s reasonable control, including without limitation an act of war, act of God, earthquake, flood, embargo, riot, sabotage, labor shortage or dispute, governmental act, act by hackers or other malicious third parties and problems with the Internet generally.
        br

        li.
          <em>Export Laws.</em> You acknowledge and agree that U.S. and foreign laws and regulations may restrict the export and re-export of certain commodities and technical data. You shall not export or re-export the Ufora Materials in any form without first obtaining all appropriate U.S. and foreign government licenses and permissions.
        br

        li.
          <em>Governing Law and Venue.</em> This Agreement shall be construed under the laws of the State of New York, without regard to its principles of conflicts of law. Any dispute relating to the terms, interpretation, or performance of this Agreement will be subject to the exclusive jurisdiction of the state and federal courts located in the State of New York and each party consents to the personal jurisdiction thereof.
        br

        li
          | <em>Notices.</em>  All notices under this Agreement shall be given in writing and sent by registered mail, internationally recognized carrier, email, or shall be delivered by hand to following addresses.
          br
          span.block
            | Ufora, Inc:
            br
            | 115 W. 27th Street, 7th Floor
            br
            | New York, NY 10001
            br
            | Attn: Legal
            br
            | legal@ufora.com
            br
            br
            | Customer:
            br
            | Customer provided email address, or at Ufora.com.
          p
            | All notices shall be presumed to have been received when they are hand delivered, or five business days of their mailing, or on the business day following the day of a successful email transmission. Notwithstanding the foregoing in this Section 10.6, Ufora has the right to provide any notice to you through the Site
        br

        li.
          <em>Waiver.</em> A waiver of any provision of this Agreement will only be valid if provided in writing and will only be applicable to the specific incident and occurrence so waived. The failure of either party to enforce at any time any of the provisions of this Agreement, or to exercise any term hereof, shall not be a waiver of such provision, or any other provision, or of the right of such party thereafter to enforce any provision hereof, which will continue in full force and effect.
        br

        li.
          <em>Construction.</em> This Agreement shall be fairly interpreted and construed in accordance with its provisions and without strict interpretation or construction in favor of or against either party.  Each party has had the opportunity to consult with counsel in the negotiation of this Agreement.  No trade usage or other regular practice or method of dealing between the parties shall modify, interpret, supplement or alter in any manner the express provisions of this Agreement.
        br

        li.
          <em>Severability, Counterparts.</em> If any provision, or portion thereof, of this Agreement is determined by a court of competent jurisdiction to be invalid, illegal or unenforceable, such determination will not impair or affect the validity, legality, or enforceability of the remaining provisions of this Agreement, and each provision, or portion thereof, is hereby declared to be separate, severable, and distinct.  A waiver of any provision of this Agreement will only be valid if provided in writing and will only be applicable to the specific incident and occurrence so waived. 
        br

        li.
          <em>Entire Agreement.</em> This Agreement, including any Order Form completed herewith, constitutes the entire understanding of the parties with respect to the subject matter of this Agreement and merges all prior communications, understandings, and agreements. Nothing contained in your purchase order, order acceptance form, or similar document shall in any way modify this Agreement or add any additional provisions to this Agreement. In the event of any irreconcilable conflict between the provisions of this Agreement and the Privacy Policy or EULA, the provisions of this Agreement shall govern.  Neither party is relying upon any warranties, representations, assurances or inducements not expressly set forth herein.
