doctype html
html(ng-app="pyfora")
    head
        title= 'PYFORA'

        script(src='/js/angular.min.js')
        script(src='/js/all.min.js')

    body(ng-controller="DashboardController")
        p {{message}}
        p hi there

